.fa-check-square {
  transform: scale(1.2);
}

.checked {
  color: #FF7F75;  
}

.not-checked {
  color: #D0C9C3;
}

.gold {
  color: #fddd25;
}

.silver {
  color:#6e6d6d;
}

.fa-chevron-left {
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}